@font-face {
    font-family: Pixelify Sans;
    src: url(../FONTS/PixelifySans-VariableFont_wght.ttf);
    font-weight: normal;
}

body {
    color:chartreuse;
    background-color: black;
    text-align: center;
    font-family: "Pixelify Sans";
}

footer {
    bottom: 0;
    position:fixed;
    padding-left: 39em;
}

ul {
    list-style-type: none;
}

footer a {
    color:chartreuse;
    text-decoration:none;
}

#enemyShipButton button, #enemyShipButtonUp button, #spaceShipButton button, #spaceShipButtonW button {
    height:50px;
    width:50px;
    font-size: larger;
}

#spaceShipButtonW, #enemyShipButtonUp {
    margin-bottom: 4px;
}


#sipkaDolu {
    margin:10px;
}

#tabulka table {
    border: 3px solid #ffffff;
    margin-bottom: 10px;
}

#tabulka td {
    border: 2px solid #ffffff;
    width:76px;
    height:69px;
}

#tabulka {
    display:flex;
}

#spaceShipTable {
    order:1;
    flex:1;
}

#enemyShipTable {
    order:2;
    flex:1;
}

#hlavniPlocha {
    display:flex;
    margin-bottom: 10px;
}

#vesmirnaLod {
    order:1;
    flex:1;
}

#hraciPole {
    order:2;
    flex:2;
}

#nepratelskaLod {
    order:3;
    flex:1;
}

#tabulka img {
    width:20px;
    height:20px;
}
